<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="beerhouse.lucas.mobile.pucminas.com.beerhouse" >

    <uses-permission android:name="INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".PrincipalActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SobreActivity"
            android:label="@string/title_activity_sobre"
            android:parentActivityName=".PrincipalActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="beerhouse.lucas.mobile.pucminas.com.beerhouse.PrincipalActivity" />
        </activity>
        <activity
            android:name=".ABVActivity"
            android:label="@string/title_activity_abv"
            android:parentActivityName=".PrincipalActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="beerhouse.lucas.mobile.pucminas.com.beerhouse.PrincipalActivity" />
        </activity>
        <activity
            android:name=".CadastrarReceitaActivity"
            android:label="@string/title_activity_cadastrar_receita" >
            android:parentActivityName=".PrincipalActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="beerhouse.lucas.mobile.pucminas.com.beerhouse.PrincipalActivity" />
        </activity>
        <activity
            android:name=".ListarReceitaActivity"
            android:label="@string/title_activity_listar_receita"
            android:parentActivityName=".PrincipalActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="beerhouse.lucas.mobile.pucminas.com.beerhouse.PrincipalActivity" />
        </activity>
    </application>

</manifest>
